<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  "
>
  <div class="filter">
    <div class="title">
      <h4 class="titleAfiliado">Datos del Afiliado</h4>
    </div>
    <div class="row1">
      <div class="divName" style="width: 20%;">
        <h4 class="name">Nombres y Apellidos</h4>
        <p class="nameinfo">Maria Claudia Gallegos Allendos</p>
      </div>

      <div class="divider"></div>
      <div class="divName" style="width: 20%;">
        <h4 class="name">Tipo de Documento</h4>
        <p class="nameinfo">DNI</p>
      </div>


      <div class="divider"></div>
   
      <div class="divName" style="width: 20%;">
        <h4 class="name">Nº de Documento</h4>
        <p class="nameinfo">41111111</p>
      </div>
      <div class="divider"></div>
      <div class="divName" style="width: 10%;">
        <h4 class="name">Edad</h4>
        <p class="nameinfo">25 años</p>
      </div>
    </div>
    <div class="row1">
        <div class="divName" style="width: 20%;">
            <h4 class="name">Dirección</h4>
            <p class="nameinfo">Avenida peru 123</p>
          </div>
    
          <div class="divider"></div>
          <div class="divName" style="width: 20%;">
            <h4 class="name">Celular</h4>
            <p class="nameinfo">999 999 999</p>
          </div>
    
    
          <div class="divider"></div>
       
          <div class="divName" style="width: 20%;">
            <h4 class="name">Plan</h4>
            <p class="nameinfo">Plan vive salud</p>
          </div>
    </div>
  </div>
</div>
