<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  "
>
  <div class="acordeon-medicinas ">
    <div class="title">
        <h4 class="titleAfiliado">Registro de Gasto</h4>
      </div>

      <div class="containerAcordeon">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div style="display: flex; justify-content: center; align-items: center;">
                    
                    <span style="color:#01387B ;margin-right:17px" class="material-icons">expand_more</span>
                    <h4 style="font-weight: 700;
                    font-size: 17px;
                    line-height: 20px;
                    /* identical to box height */
                    
                    letter-spacing: 0.1275px;
                    padding:0px !important;
                    margin:0px !important;
                    color: #01387B;
                    "> Consulta Medica   </h4> 
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <br/>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div style="display: flex; justify-content: center; align-items: center;">
                    
                    <span style="color:#01387B ;margin-right:17px" class="material-icons">expand_more</span>
                    <h4 style="font-weight: 700;
                    font-size: 17px;
                    line-height: 20px;
                    /* identical to box height */
                    margin:0px !important;
                    letter-spacing: 0.1275px;
                    padding:0px !important;
                    color: #01387B;
                    "> Medicamentos Genericos   </h4> 
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <br/>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div style="display: flex; justify-content: center; align-items: center;">
                    
                    <div style="display: flex; justify-content: center; align-items: center;">
                    
                        <span style="color:#01387B ;margin-right:17px" class="material-icons">expand_more</span>
                        <h4 style="font-weight: 700;
                        font-size: 17px;
                        line-height: 20px;
                        /* identical to box height */
                        margin:0px !important;
                        letter-spacing: 0.1275px;
                        padding:0px !important;
                        color: #01387B;
                        "> Laboratorio   </h4> 
                    </div>
                </div>
              
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <br/>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div style="display: flex; justify-content: center; align-items: center;">
                    
                    <span style="color:#01387B ;margin-right:17px" class="material-icons">expand_more</span>
                    <h4 style="font-weight: 700;
                    font-size: 17px;
                    line-height: 20px;
                    /* identical to box height */
                    margin:0px !important;
                    letter-spacing: 0.1275px;
                    padding:0px !important;
                    color: #01387B;
                    "> Laboratorio   </h4> 
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <br/>
      </div>

      
  </div>
</div>
