<p>KEVInnN</p>
<div class="outlet-hijo comercial" [formGroup]="brokerFG">
  <div class="two">
    <div class="input-group-5">
      <h3>Cliente</h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <mat-select
            formControlName="cliente"
            (selectionChange)="listarPlanes()"
          >
            <mat-option [value]="0"> Seleccionar </mat-option>
            <mat-option *ngFor="let c of clientes" [value]="c.idcliente">
              {{ c.nombre_comercial | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="input-group-5">
      <h3>Plan</h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <mat-select formControlName="plan" (selectionChange)="setPlan()">
            <mat-option [value]="0"> Seleccionar </mat-option>
            <mat-option *ngFor="let p of cliente.planes" [value]="p.idplan">
              {{ p.plan | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="two">
    <div class="input-group-5">
      <h3>Frecuencia</h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <mat-select
            formControlName="frecuencia"
            (selectionChange)="setFrecuencia()"
          >
            <mat-option [value]="0"> Seleccionar </mat-option>
            <mat-option *ngFor="let f of plan.frecuencias" [value]="f.idprecio">
              {{ f.descripcion | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="input-group-5">
      <h3>Precio</h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <input
            matInput
            [value]="frecuencia.precio_final | number: '.2'"
            readonly
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="two">
    <div class="input-group-5">
      <h3>Tipo</h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <mat-select formControlName="tipo">
            <mat-option [value]="0"> Seleccionar </mat-option>
            <mat-option [value]="1"> Altas </mat-option>
            <mat-option [value]="2"> Inclusiones </mat-option>
            <mat-option [value]="3"> Exclusiones </mat-option>
            <mat-option [value]="4"> Bajas </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="input-group-5">
      <h3>Contratante</h3>
      <div class="input-6 largo">
        <mat-form-field class="input-child" appearance="outline">
          <mat-select
            formControlName="contratante"
            (selectionChange)="afiliados = []"
          >
            <mat-option [value]="0"> Seleccionar </mat-option>
            <mat-option [value]="1"> Cliente
               como contratante </mat-option>
            <mat-option [value]="2">
              Persona Natural como contratante
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="two">
    <div class="input-group-5">
      <h3>
        Inicio de <br />
        Vigencia
      </h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="dd/mm/aaaa"
            formControlName="inicio_vigencia"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="input-group-5">
      <h3>
        Fin de <br />
        Vigencia
      </h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <input
            matInput
            [matDatepicker]="picker2"
            placeholder="dd/mm/aaaa"
            formControlName="fin_vigencia"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="two" *ngIf="brokerFG.controls.contratante.value == 1">
    <!-- <div class="two"> -->
    <div class="input-group-5">
      <h3>Ruc</h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <input matInput [value]="cliente.ruc" readonly />
        </mat-form-field>
      </div>
    </div>
    <div class="input-group-5">
      <h3>Razón Social</h3>
      <div class="input-6">
        <mat-form-field class="input-child" appearance="outline">
          <input matInput [value]="cliente.nombre | titlecase" readonly />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="one">
    <div class="form">
      <button
        mat-raised-button
        color="primary"
        (click)="upload.click()"
        [disabled]="brokerFG.status != 'VALID'"
      >
        Cargar Trama
      </button>
      <input
        #upload
        type="file"
        class="upload"
        (change)="addfile($event)"
        accept=".csv,.xlsm,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      />
    </div>
  </div>
</div>
<div class="outlet-hijo comercial">
  <div class="main-table">
    <div class="table-head">
      <div class="paginador">
        <h4>Mostrar</h4>
        <select
          class="select-pag"
          [(ngModel)]="grupo"
          [ngModelOptions]="{ standalone: true }"
        >
          <option value="10" selected>10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
        <p>Registros</p>
      </div>
      <div class="space"></div>
      <div class="buscador">
        <input
          type="text"
          class="buscador-input"
          placeholder="Buscar"
          [(ngModel)]="filtro"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="filtrar()"
        />
        <img class="lupa" src="assets/svg/lupa.svg" alt="" />
      </div>
    </div>
    <div class="table-body" *ngIf="afiliados.length != 0">
      <table>
        <tr class="table-body-head">
          <td>
            <h4>Grupo</h4>
          </td>
          <td>
            <h4>Tipo de Documento</h4>
          </td>
          <td>
            <h4>N° de Documento</h4>
          </td>
          <td>
            <h4>Nombres</h4>
          </td>
          <td>
            <h4>Fecha de Nacimiento</h4>
          </td>
          <td>
            <h4>Parentesco</h4>
          </td>
          <td>
            <h4>Tipo de Registro</h4>
          </td>
          <td>
            <h4>Detalle</h4>
          </td>
        </tr>
        <tr
          *ngFor="
            let a of afiliados
              | paginate
                : {
                    id: 'pagafi',
                    itemsPerPage: grupo,
                    currentPage: page
                  }
          "
          class="table-body-row"
        >
          <td>{{ grupoafi(a) }}</td>
          <td>{{ a.tipo_documento }}</td>
          <td>{{ a.nro_documento }}</td>
          <td>
            {{ a.nombre1 | titlecase }} {{ a.nombre2 | titlecase }}
            {{ a.apellido_paterno | titlecase }}
            {{ a.apellido_materno | titlecase }}
          </td>
          <td>
            {{ buildFecha(a.fecha_nacimiento) }}
          </td>
          <td>
            {{ a.parentesco | titlecase }}
          </td>
          <td>{{ a.tipo | titlecase }}</td>
          <td>
            <p
              *ngIf="
                a.tipo == 'CONTRATANTE' || a.tipo == 'CONTRATANTE Y AFILIADO'
              "
            >
              {{
                validateEdadContratante(a.fecha_nacimiento)
                  ? "Edad del contratante correcta"
                  : "El contratante debe ser mayor de edad"
              }}
            </p>
            <p
              *ngIf="a.tipo == 'AFILIADO' || a.tipo == 'CONTRATANTE Y AFILIADO'"
            >
              {{
                validateEdadAfiliado(a.fecha_nacimiento)
                  ? "Edad del afiliado correcta"
                  : "El afiliado debe ser menor que " +
                    plan.edad_maxima +
                    " años"
              }}
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="afiliados.length != 0; else not" class="table-foot">
      <h4>
        Del
        {{ ((page > 1 ? page : 1) - 1) * grupo + 1 }} al
        {{
          ((page > 1 ? page : 1) - 1) * grupo + grupo > pc.getTotalItems()
            ? pc.getTotalItems()
            : (((page > 1 ? page : 1) - 1) * grupo + grupo | number: "2.0")
        }}
        de {{ pc.getTotalItems() }} registros
        {{
          filtro != ""
            ? "(filtrados de " + afiliados.length + " registros)"
            : ""
        }}
      </h4>
      <div class="foot-botones">
        <pagination-template
          id="pagafi"
          #pc="paginationApi"
          (pageChange)="page = $event"
        >
          <div class="custom-pagination">
            <button
              mat-mini-fab
              (click)="pc.previous()"
              disabled="{{ pc.isFirstPage() }}"
              class="foot-boton {{ pc.isFirstPage() ? 'blanco' : '' }} "
            >
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div
              class="page-number"
              *ngFor="let page of pc.pages"
              [class.current]="pc.getCurrent() === page.value"
            >
              <span
                (click)="pc.setCurrent(page.value)"
                *ngIf="pc.getCurrent() !== page.value"
                >{{ page.label }}</span
              >
              <div *ngIf="pc.getCurrent() === page.value">
                <span>{{ page.label }}</span>
              </div>
            </div>
            <button
              mat-mini-fab
              (click)="pc.next()"
              disabled="{{ pc.isLastPage() }}"
              class="foot-boton {{ pc.isLastPage() ? 'blanco' : '' }} "
            >
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </pagination-template>
      </div>
    </div>
    <div class="botones">
      <button
        mat-raised-button
        color="accent"
        (click)="procesarAfiliados()"
        [disabled]="afiliados.length == 0"
      >
        Procesar
      </button>
      <!-- <button mat-raised-button color="accent" (click)="aea()">oli</button> -->
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<ng-template #not>
  <div style="margin: 1rem 0 0 30px">
    <h4>No se encontraron resultados</h4>
  </div>
</ng-template>
