<div class="filter">
  <h3>Fechas de {{ tipo }}</h3>
  <div class="fechas" [formGroup]="filtroFG">
    <div class="fecha">
      <h4>Inicio</h4>
      <mat-form-field appearance="outline" class="input">
        <input
        style="    padding-left: 10px;
      "
          readonly
          matInput
          [matDatepicker]="picker"
          placeholder="dd/mm/aaaa"
          formControlName="inicio"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="fecha">
      <h4>Fin</h4>
      <mat-form-field appearance="outline" class="input">
        <input
        style="    padding-left: 10px;
        "
          readonly
          matInput
          [matDatepicker]="picker2"
          placeholder="dd/mm/aaaa"
          formControlName="fin"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <button class="bo" (click)="enviarFechas()">
      <p>Buscar</p>
      <mat-icon class="ico">chevron_right</mat-icon>
    </button>
  </div>
</div>
